.createAccount-section {
  padding: 20px 0; }
  .createAccount-section nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0 30px;
    border-bottom: 1px solid #9192948f; }
    .createAccount-section nav a {
      display: block;
      margin: auto;
      width: 18%; }
      @media (max-width: 425px) {
        .createAccount-section nav a {
          width: 38%; } }
  .createAccount-section form {
    width: 40%;
    margin: auto;
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
    .createAccount-section form h2 {
      letter-spacing: 1px;
      text-transform: capitalize;
      font-size: 20px;
      margin-bottom: 20px; }
    @media (max-width: 768px) {
      .createAccount-section form {
        width: 100%; } }
    .createAccount-section form .input-container {
      width: 100%;
      margin-bottom: 20px; }
      .createAccount-section form .input-container input {
        width: 100%;
        padding: 10px;
        border: 1px solid #919294;
        border-radius: 10px;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
        .createAccount-section form .input-container input:focus {
          border-color: #f3a01e; }
    .createAccount-section form .continue {
      width: 100%;
      background-color: #4399d4;
      border: none;
      padding: 7px;
      border-radius: 10px;
      margin-bottom: 15px;
      text-transform: capitalize;
      font-size: 20px;
      color: #fff;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
      .createAccount-section form .continue:hover {
        background-color: #f3a01e; }
    .createAccount-section form .social-login {
      margin-bottom: 10px; }
      .createAccount-section form .social-login h4 {
        color: #919294;
        text-transform: capitalize;
        letter-spacing: 1.4px;
        font-size: 14px;
        margin-bottom: 12px; }
      .createAccount-section form .social-login button {
        border: none;
        background-color: transparent; }
    .createAccount-section form .have-account {
      font-size: 20px;
      margin-bottom: 0; }
      @media (max-width: 375px) {
        .createAccount-section form .have-account {
          font-size: 17px; } }
      .createAccount-section form .have-account a {
        margin-left: 5px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        color: #4399d4; }
        .createAccount-section form .have-account a:hover {
          color: #f3a01e; }
        body.ar .createAccount-section form .have-account a {
          margin-right: 5px; }

/*# sourceMappingURL=createAccount.css.map */
