.maintenance-section {
  padding: 40px 0; }
  .maintenance-section .maintenance-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin-bottom: 20px; }
    .maintenance-section .maintenance-box .image-box {
      height: 350px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .maintenance-section .maintenance-box .image-box img {
        -o-object-fit: cover;
           object-fit: cover;
        height: 100%;
        width: 100%; }
    .maintenance-section .maintenance-box .title-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-top: 25px;
      margin-bottom: 6px; }
      .maintenance-section .maintenance-box .title-box h4 {
        font-family: "Roboto-Medium";
        font-size: 20px; }
      .maintenance-section .maintenance-box .title-box label {
        margin-left: 20px;
        cursor: pointer;
        position: relative;
        margin-bottom: 8px;
        color: #f3a01e; }
        body.ar .maintenance-section .maintenance-box .title-box label {
          margin-left: unset;
          margin-right: 20px; }
        .maintenance-section .maintenance-box .title-box label i {
          font-size: 17px;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          opacity: 1;
          -webkit-backface-visibility: hidden;
                  backface-visibility: hidden;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
        .maintenance-section .maintenance-box .title-box label i.fa-check-square {
          opacity: 0;
          -webkit-transition: 0.5s;
          transition: 0.5s; }
      .maintenance-section .maintenance-box .title-box input {
        opacity: 0;
        visibility: hidden;
        position: absolute; }
        .maintenance-section .maintenance-box .title-box input:checked ~ label i {
          opacity: 0; }
        .maintenance-section .maintenance-box .title-box input:checked ~ label i.fa-check-square {
          opacity: 1; }
    .maintenance-section .maintenance-box .maintenance-sup-title {
      font-family: "Roboto-Medium";
      font-size: 20px; }
    .maintenance-section .maintenance-box .price {
      color: #4399d4;
      font-family: "Roboto-Bold";
      font-size: 20px; }

/*# sourceMappingURL=maintenance.css.map */
